<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fondo con imágen</title>

    <style>
        body{
            background: limegreen url("../../src/heinsenberg.png") no-repeat fixed right;
        }
    </style>
</head>
<body>
    <h1>Fondo con imágen fija</h1>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
    <p>algún texto</p>
</body>
</html>