<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IF</title>
</head>
<body>
    
    <script>
        var edad = Number(prompt("Dame tu edad"));

        if (edad >= 0 && edad <= 20) {
            console.log("Tienes 20 años o menos")
        }  else if (edad > 20 && edad <= 40) {
            console.log("tienes entre 20 y 40 años")
        } else {
            console.log("Tienes más de 40 años")
        }

    </script>
</body>
</html>